<!-- Display categories for filtering -->
<div class="container mt-4">
    <div class="row">
      <div class="col">
        <h5>Filter by Category:</h5>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary"
                  *ngFor="let category of categories"
                  (click)="filterProductsByCategory(category)">
            {{ category }}
          </button>
          <button type="button" class="btn btn-danger" routerLink="/todo">Todo app</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of filteredProducts">
        <div class="card">
          <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ product.price.toFixed(2) }}</p>
            <button class="btn btn-primary" (click)="buyNow(product)">Buy Now</button>
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
            <!-- <button class="btn btn-primary" (click)="addToWishlist(product)">Add to Wishlist</button> -->
            <button class="btn btn-primary" (click)="deleteFromCart(product)">Delete</button>
            <button (click)="viewProductDetail(product.id)" class="btn btn-secondary">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  